.container-button {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 150px;
}

.button {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: white;
}

.button-text {
  margin: 0px;
  font-size: 25px;
}

.modal {
  background-color: #e4e6e7;
  width: 270px;
  height: 230px;
  position: absolute;
  top: 30px;
  right: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  text-align: flex-start;
}

.modal-textarea {
  background-color: white;
  height: 120px;
}

.modal-addbutton {
  background-color: black;
  width: 75px;
  height: 40px;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}
